<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/Serg/IdeaProjects/TT(TestTaskForQAA)"><classes><class name="TestCases.InvalidLogin"><methods><include name="InvalidLogin"/></methods></class><class name="TestCases.LogIn"><methods><include name="ValidLog"/></methods></class><class name="TestCases.Logout"><methods><include name="Logout"/></methods></class><class name="TestCases.MedicationRequest"><methods><include name="Medicatonrequest"/></methods></class><class name="TestCases.ValidLogin"><methods><include name="Validlog"/></methods></class></classes></test></suite>